---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body>

{% include browser-upgrade.html %}
{% include masthead.html %}

{{ content }}



<div class="page__footer">
    <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
    </footer>
</div>
{% include scripts.html %}
<!--use canvas as background-->
<canvas id="cas" width="988" height="754" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<script src="../assets/js/canvas/canvas.js"></script>
</body>
</html>